<p>recipes-list works!</p>

<div class="recipes-list-container">

  <section>
    <h3>Selección de filtros</h3>

    <label>Por nombre
      <input type="radio" value="NAME" [(ngModel)]="filterType" name="filterType">
    </label>

    <label>Por nivel de dificultad
      <input type="radio" value="DIFFICULTY" [(ngModel)]="filterType" name="filterType">
    </label>

    <p>El tipo de filtro seleccionado es: {{ filterType }}</p>

    @if (filterType === 'NAME') {
    <label>
      Nombre a buscar
      <input type="text" placeholder="Ingrese el nombre de la receta" [(ngModel)]="name">
    </label>
    <p>El valor actual del input por búsqueda de nombre es: {{ name }}</p>
    }

    @if (filterType === 'DIFFICULTY') {
    <label>
      Opciones de dificultad
      <select [(ngModel)]="difficulty">
        <option value="">Seleccione una opción</option>
        <option value="easy">Fácil</option>
        <option value="medium">Medio</option>
        <option value="hard">Difícil</option>
      </select>
    </label>
    <p>El valor actual del input por dificultad es: {{ difficulty }}</p>
    }

    <button (click)="filterRecipesList()">Filtrar</button>

  </section>

  <table>

    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Difficulty</th>
      <th>Actions</th>
    </tr>
    </thead>

    <tbody>

    @for (recipe of filteredRecipes(); track recipe.id) {

    <tr>

      <td>
        {{ recipe.id }}
      </td>

      <td>
        {{ recipe.name }}
      </td>

      <td>
        {{ recipe.difficulty }}
      </td>

      <td class="actions">
        <a [routerLink]="['/recipes-detail', recipe.id]">View details (from tag a)</a>
        <button (click)="viewRecipe(recipe.id)">View details (from function)</button>
      </td>

    </tr>

    }

    </tbody>

  </table>

</div>
