<p>recipes-list works!</p>

<div class="recipes-list-container">

  <section>
    <h3>Selección de filtros</h3>

    <label>Por nombre
      <input type="radio" value="NAME" [(ngModel)]="filterType" name="filterType">
    </label>

    <label>Por nivel de dificultad
      <input type="radio" value="DIFFICULTY" [(ngModel)]="filterType" name="filterType">
    </label>

    @if (filterType === 'NAME') {
    <label>
      Nombre a buscar
      <input type="text" [(ngModel)]="_name">
    </label>
    }

    @if (filterType === 'DIFFICULTY') {
    <label>
      Opciones de dificultad
      <select [(ngModel)]="_difficulty">
        <option value="">Seleccione una opción</option>
        <option value="easy">Fácil</option>
        <option value="medium">Medio</option>
        <option value="hard">Difícil</option>
      </select>
    </label>
    }

    <button (click)="filtrar()">Filtrar</button>
  </section>

  <table>

    <!-- @for (i of recipesList.recipes; track i.id) -->

    @for (i of _recipesListFilter; track i.id) {
    <tr>
      <td>{{ i.id }}</td>
      <td>{{ i.name }}</td>
      <td>{{ i.difficulty }}</td>
      <td>
        <a [routerLink]="['/recipes-detail', i.id]">View details (from tag a) </a>
        <button (click)="viewDetails(i.id)">View details (from function)</button>
        <a [routerLink]="['/recipes-detail-v2']"
           [queryParams]="{'name': i.name, 'difficulty': i.difficulty}">View details (query params)
        </a>
      </td>
    </tr>
    } @empty {
    <p>No se encontraron datos</p>
    }

  </table>

</div>
