<p> recipes-list works!</p>
<div class="recipes-list-container">

  <!--<h1>Recipes List</h1>-->

  <table>

    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Difficulty</th>
      <th>Actions</th>
    </tr>
    </thead>

    <tbody>

    @for (recipe of recipesList().recipes; track recipe.id) {

    <tr>

      <td>
        {{ recipe.id }}
      </td>


      <td>
        <div class="name-cell">

          <img
            class="recipe-thumb"
            [src]="recipe.image"
            [alt]="recipe.name"
          >

          <div class="name-info">

            <h3>{{ recipe.name }}</h3>

            <ul class="ingredients-mini">
              @for (ingredient of recipe.ingredients; track ingredient) {
              <li>{{ ingredient }}</li>
              }
            </ul>

          </div>

        </div>
      </td>


      <td>
        {{ recipe.difficulty }}
      </td>

      <td class="actions">
        <a [routerLink]="['/recipes-detail', recipe.id]">View details (from tag a)</a>
        <button (click)="viewRecipe(recipe.id)">View details (from function)</button>
      </td>

    </tr>

    }

    </tbody>

  </table>

</div>
