<div class="users-container">

  @for (user of userList.users; track user.id) {

  <article class="user-card">

    <h2>{{ user.id }} - {{ user.firstName }} {{ user.lastName }}</h2>
    <p>Username: {{ user.username }}</p>
    <p>Email: {{ user.email }}</p>

    <div class="posts">
      <h3>Posts</h3>

      @for (post of getPostsByUser(user.id); track post.id) {
      <div class="post">
        <p class="post-title">{{ post.id }} - {{ post.title }}</p>
        <p class="post-body">{{ post.body }}</p>
      </div>
      } @empty {
      <p>Este usuario no tiene posts</p>
      }
    </div>

  </article>

  }

</div>
